# Java-related
*.class
*.jar
*.war
*.ear

# Maven / Gradle
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# VS Code
.vscode/

# Log files
*.log

# Temporary files
*.swp
*.swo
*.tmp

# Operating System files
.DS_Store
Thumbs.db
